@import url(./h&f-styles-component.css);
@import url(./font-component.css);

h1>a {
  font-size: 24px;
}

/* images */
figure img {
  border-radius: 10px;
}

figcaption {
  text-align: center;
  margin-top: 1rem;
}

figure img {
  transition: transform 0.3s ease;
}

figure img:hover {
  transform: scale(1.02);
}

/* text */
.text p {
  line-height: 1.5;
  text-align: justify;
  width: 40%;
}

.main-container>section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* flexbox */
.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.main-container h2 {
  font-size: 48px;
  margin-top: 1.5rem;
  flex-basis: 100%;
  text-align: center;
}

/* other */
hr {
  border: none;
  border-radius: 5px;
  height: 4px;
  background-image: linear-gradient(to right, #1F2937, #E5E7EB);
  margin: 2rem auto;
  width: 100%;
  max-width: 1360px;
}

footer {
  text-align: center;
}

/* responsive */
@media (max-width: 768px) {
  figure img {
    max-width: 400px;
  }

  .main-container>section {
    display: flex;
    flex-direction: column;
  }

  .text p {
    width: 85%;
  }

  figcaption {
    margin: 1rem 0;
  }

  hr {
    display: none;
  }

  .arrow-up {
    bottom: 0;
  }
  
  footer {
    margin-top: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .text p {
    width: 80%;
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .main-container>section {
    display: flex;
    flex-direction: column;
  }

  p {
    order: 1;
  }
}