html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1F2937;
    padding: 10px 0;
   
}


header h1, header a {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    color: #f9faf8;
    font-size: 24px;
}

header a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(174, 172, 29);
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 15px; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* box-sizing: border-box; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 350px;
     */
     gap: 15px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flower-dropdown-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    background-color: #4d5f79;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;

    min-width: 150px;
    z-index: 100;
}

.flower-dropdown-menu a {
    margin: 5px 0;
    display: block;

    white-space: nowrap;
}

.flower-dropdown {
    position: relative;
    /* display: inline-block; */
}

.flower-dropdown:hover .flower-dropdown-menu {
    display: block;
    animation: fade-in 0.5s ease forwards;
}

.festival-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    background-color: #4d5f79;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
}

.festival-menu a {
    margin: 5px 0;
    display: block;
}

.festival-dropdown {
    position: relative;
    display: inline-block;
}

.festival-dropdown:hover .festival-menu {
    display: block;
    animation: fade-in 0.5s ease forwards;
}

main {
    flex: 1;

    width: 100%;
    max-width: 1850px;
    margin: 0 auto;
    padding: 20px 15px;
    box-sizing: border-box;
}

footer {
    text-align: center;
     color:#e5e7eb;
}


@media screen and (max-width:768px){
   .header-top-container {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }
    
    header h1 {
        text-align: center;
        padding: 10px 0;
    }
    
    nav {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    
    .flower-dropdown {
        text-align: center;
        width: 100%;
    }
    
    .flower-dropdown-menu {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        display: none;
    }
    
    .flower-dropdown:hover .flower-dropdown-menu,
    .flower-dropdown:focus-within .flower-dropdown-menu {
        display: block;
        position: static;
        animation: fade-in 0.5s ease forwards;
    }

}
