@import url(./h&f-styles-component.css);
@import url(./font-component.css);

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-extra-bold";
  src: url(../fonts/Roboto-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-light-italic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}

* {
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1360px; /* changed to smaller width */
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: 100%;  
  /* changed height, 
  to keep picture's default size,
  works well for other elements responsiveness */
}

p,
a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



.header-bot-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header-bot-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
}

.header-bot-text-content h2 {
  /* color: #f9faf8;  moved*/
  font-size: 48px;

  /* text-align: center;  not matching with pdf*/
}

.header-bot-text-content,
.subscription-wrapper a,
.subscription h4,
.subscription p {
  color: #e5e7eb;

}

.header-bot-text-content a {
  background-color: #3882f6;
  text-align: center;
  width: 150px;

  padding: 10px;
  /* margin: 0 auto; not matching with pdf */
  border-radius: 5px;
}

main h3,
main blockquote {
  color: #1f2937;
  font-size: 36px;
}

main h3 {
  text-align: center;
  margin: 40px 0;

  /* padding: 0 20px;  no difference*/
}

.flower-images {
  display: flex;
  /* flex-wrap: wrap; no point */
  justify-content: center;
  gap: 25px;
  /* padding: 0 10px; no point */
}

.flower-images img {
  height: 150px;
  border: 2px solid #1f2937;
  border-radius: 8px;
}

.flower-image-wrapper {
  width: 150px;
}

.flower-image-wrapper p {
  text-align: center;
}

.flower-quote {
  background-color: #e5e7eb;
  margin: 40px 0;
  padding: 60px 0;
}

.flower-quote blockquote {
  font-family: 'Roboto-light-italic', sans-serif;
  text-align: center;
  /* width: 100%; no point */
  max-width: 1200px;

  /* margin: 0 auto;  no point */
}

.flower-quote footer {
  background-color: transparent;
  text-align: end;
  font-weight: 900;
  color: #1f2937;
  margin-top: 20px;
  padding: 0 20px;
}

.subscription-wrapper {
  background-color: #3882f6;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.subscription h4 {
  font-size: 24px;
}

.subscription-wrapper a {
  /* color: #e5e7eb; moved */
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 7px 10px;

  /* display: inline-block; no point */
}

.subscription-wrapper a:hover {
  background-color: rgb(174, 172, 29);
}

@media screen and (max-width: 768px) {
  /* .container {
    padding: 0 10%;
  }
  
  no point
  */

  .header-bot-container {
    flex-direction: column;
    /* margin: 100px 0; no point */
  }

  .header-bot-text-content {
    width: 80%; /* increased */
    /* text-align: center; no point */
  }

  .header-bot-text-content h2 {
    font-size: 48px;
    text-align: center;
  }

  /* .header-bot-text-content p {
    text-align: left;
  } 
  no point  
  */

  .header-bot-text-content a {
    margin: 0 auto; 
    /* moved to center */
  }

  /* main h3,
  main blockquote {
    font-size: 36px;
  }
  already exists, DRY rule  
  */

  .subscription-wrapper {
    /* flex-direction: row;
    text-align: left; 
    
    no point*/
    padding: 30px 50px;
  }

  /* .subscription {
    flex: 1;
  }
  no point  
  */
}

