@import url(./h&f-styles-component.css);
@import url(./font-component.css);

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-extra-bold";
  src: url(../fonts/Roboto-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-light-italic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}

img {
  max-width: 100%;
  height: 100%;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



.header-bot-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header-bot-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
}

.header-bot-text-content h2 {
  font-size: 48px;
}

.header-bot-text-content,
.subscription-wrapper a,
.subscription h4,
.subscription p {
  color: #e5e7eb;

}

.header-bot-text-content a {
  background-color: #3882f6;
  text-align: center;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
}

main h3,
main blockquote {
  color: #1f2937;
  font-size: 36px;
}

main h3 {
  text-align: center;
  margin: 40px 0;
}

.flower-images {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.flower-images img {
  height: 150px;
  border: 2px solid #1f2937;
  border-radius: 8px;
}

.flower-image-wrapper {
  width: 150px;
}

.flower-image-wrapper p {
  text-align: center;
}

.flower-quote {
  background-color: #e5e7eb;
  margin: 40px 0;
  padding: 60px 0;
}

.flower-quote blockquote {
  font-family: 'Roboto-light-italic', sans-serif;
  text-align: center;
  max-width: 1200px;
}

.flower-quote footer {
  background-color: transparent;
  text-align: end;
  font-weight: 900;
  color: #1f2937;
  margin-top: 20px;
  padding: 0 20px;
}

.subscription-wrapper {
  background-color: #3882f6;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.subscription h4 {
  font-size: 24px;
}

.subscription-wrapper a {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 7px 10px;
}

.subscription-wrapper a:hover {
  background-color: rgb(174, 172, 29);
}

@media screen and (max-width: 768px) {
  .header-bot-container {
    flex-direction: column;
  }

  .header-bot-text-content {
    width: 80%;
  }

  .header-bot-text-content h2 {
    font-size: 48px;
    text-align: center;
  }

  .header-bot-text-content a {
    margin: 0 auto;
  }

  .subscription-wrapper {
    padding: 30px 50px;
  }
}